@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Opne Sans", sans-serif;
  line-height: 1.5;
  background-color: rgb(241, 245, 248);
}
main {
  min-height: 100vh;
  margin: 0, auto;
  display: grid;
  justify-content: center;
  align-content: center;
}
article {
  width: 55vh;
  height: 50vh;
  margin: 0 auto;
  max-width: 1170px;
}
h1 {
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
  color: rgb(197, 157, 95);
  text-align: center;
  font-size: 36px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}
.question-answer {
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 20px;
}

.question-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: lighter;
}
.answer-content {
  border-top: 2px solid lightgrey;
  padding-top: 15px;
  color: lightslategrey;
}

button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: rgb(197, 157, 95);
  cursor: pointer;
  transition: all 0.3s linear;
}
button:hover {
  transform: rotate(90deg);
}
.hide-content {
  display: none;
}

.plus-icon {
  display: inline;
}
.minus-icon {
  display: none;
}
