@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  background-image: url("./hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
/* @media screen and (min-width: 800px)
{

} */
header {
  padding: 10px 0;
  width: 90vw;
  max-width: 1170px;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
li {
  padding: 0 2rem;
  position: relative;
}
button {
  cursor: pointer;
}
li button {
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  color: white;
  letter-spacing: 2px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: default;
}

.hidden {
  display: none;
}
.products {
  position: absolute;
  background-color: white;
  padding: 30px 20px;
  border-radius: 15px;
  width: 600px;
  font-size: 1.3em;
  box-shadow: 0 0 6px 0px grey;
  top: 145%;
  left: -120%;
}
.developers {
  position: absolute;
  background-color: white;
  padding: 30px 20px;
  border-radius: 15px;
  width: 550px;
  font-size: 1.3em;
  box-shadow: 0 0 6px 0px grey;
  top: 145%;
  left: -90%;
}
.company {
  position: absolute;
  background-color: white;
  padding: 30px 20px;
  border-radius: 15px;
  width: 400px;
  font-size: 1.3em;
  box-shadow: 0 0 6px 0px grey;
  top: 145%;
  left: -55%;
}
h5 {
  padding-left: 10px;
  letter-spacing: 1.5px;
}
.dropdown-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
.dropdown-btn {
  cursor: pointer;
  color: grey;
  background-color: transparent;
  border: none;
  font-size: 0.8em;
  margin-right: 50px;
}
.start-now,
.sign-in {
  background-color: black;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
  font-size: 1.1em;
}
main {
  padding: 10px;
  width: 90vw;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.phone-img {
  width: 40%;
  padding: 20px 40px;
  margin: 0 20px;
}
.phone-img img {
  width: 100%;
}
h1 {
  font-size: 4rem;
  text-align: left;
  width: 70%;
  font-weight: 900;
}
.info p {
  margin: 10px 0;
  color: lightslategray;
  line-height: 2rem;
}
.start-now {
  margin-top: 20px;
}
